[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = "*"

[dev-packages]
flake8 = "*" 
pytest-django = "*"
pytest = "*"

[requires]
python_version = "3.9"
