/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
/* home section styling */
.home{
    color: black;
    background-size: cover;
    background-color: gainsboro;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home h1{
    margin:40px;
    padding:40px;
    text-align: center;
    font-size: 100px;
}

/*about us page*/

.img-class{
    width: 100%;
}

.img-class img{
    width:100%;
    border-radius: 50%;
    box-shadow: 0 0 12px white;
}

.ab-container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-h{
    font-size: 50px;
    color:#888;
    padding:20px;
    margin:20px;
    justify-content: center;
    text-align: center;
}

.about-us-p{
    font-size: 20px;
    color:#888;
    padding:40px;
    margin:20px;
    justify-content: center;
    text-align: center;
}

/*my team page*/
.container{
    text-align: center;
    background-color: white;
}

.header{
    padding-top: 30px;
    color:#888;
    margin:auto;
    font-size: 20px;
    line-height: 50px;
}

.sub-container{
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}
.teams:hover{
    background: gainsboro;
}

.teams img{
    width: 200px;
    height: 200px;

}

.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.design{
    font-style:italic;
    color: #888;
}

.about{
    margin: 20px 0;
    font-weight: lighter;
    color:#4e4e4e;
}

.social-links{
    margin:14px;
}

.social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.social-links a:hover{
    transform:scale(1.5);
}

.social-links a i{
    color: black;
}


/* footer section styling*/
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
