{% extends 'base.html' %}
{% block title %} chore {% endblock %}
{% block body %}
    <main>
        <!--THE CHORE PAGE  -->
        <section class="chore">
            <div class="container">

                <div class="row">
                    <div class="row justify-content-center col-md-4 offset-md-4 my-5 pt-5 pb-5 text-center col-sm-12 col-xs-12">

                        <div class="m-0 p-3"><h1 style="color:brown">Create New Chore:</h1></div>
                        {% if messages %}
                            {% for message in messages %}
                                <p style="color: red; "> {{ message }} </p>
                            {% endfor %}
                        {% endif %}
                        <form method="post">{% csrf_token %}

                            <div class="d-flex flex-row align-items-center mb-1">
                                <input type="text" placeholder="Title *" class="form-control m-1" name="title" required>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <input type="text" placeholder="Description *" class="form-control m-1"
                                       name="description" required>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <input type="date" value="<?php echo date('Y-m-d'); ?>" placeholder="Chore Deadline *"
                                       class="form-control m-1" name="date" required>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <input type="number" placeholder="Budget *" class="form-control m-1" name="budget"
                                       min="0" max="9999999" required>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <input type="text" placeholder="User ID *" class="form-control m-1" name="assign_to"
                                       required>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <input type="text" placeholder="Commune ID *" class="form-control m-1" name="commune_id"
                                       required>
                            </div>

                            <div class="d-flex mx-1 mb-1 mb-lg-1">
                                <button type="submit" class="btn btn-primary btn-md">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="d-flex flex-column h-50">
        <div class="flex-grow-1"></div>
        <footer><div class="footer col-md-12 text-center">
            <span>Copyright@ 2022 Communet | ALL Rights Reserved.</span>
        </div></footer>
    </div>
    <script src="script.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
    </html>
{% endblock %}
