{% extends 'base.html' %}
{% block title %} Communes {% endblock %}
{% block body %}
<main>
    <div class="container-fluid text-center p-5">
        <h1 style="color:brown">Communes</h1>
        <h3 style="color:brown">Hello {{ user }} {{ user.username }}</h3>

    </div>
         {% block content %}
                    {{ users }}
    {% endblock content %}
</main>
<footer>
    <div class="footer col-md-12 text-center ">
        <span>Copyright @2022 Communet | ALL Rights Reserved.</span>
    </div>
</footer>
{% endblock %}
