{% extends 'base.html' %}
{% block title %} commune {% endblock %}
{% block body %}
    <main>
        <div class="container-fluid text-center p-5">
            <h1 style="color:brown;">{{commune_name}}</h1>
        </div>
        <div class="container">
            <div class="row">
                {% block content %}
                <h3 style="color:red;">Our Purpose: </h3>
                <p>{{description}}</p>
                <br>
                <br>
                <br>
                <h3 style="color:red;">Net Worth</h3>
                <p>As in 2023 our net worth is estimated to be around {{wallet}}$</p>
                <br>
                <br>
                <br>
                <h3 class="text-center" style="color:red;">Available Chores</h3>
                {% for chore in active_chores %}
                        <h4 style="color:brown;">{{chore.title}}</h4>
                        <p>Description : {{chore.description}}</p>
                        <p>Created at : {{chore.date}}</p>
                        <p>This is assigned to :{{chore.assign}}</p>
                        <p>Budget: {{chore.budget}}</p>
                        <hr>
                {% endfor %}
                <br>
                <br>
                <br>
                <h3 class="text-center" style="color:red;">Chores still in progress..</h3>
                {% for chore in chores_to_vote_on %}
                        <h4 style="color:brown;">{{chore.title}}</h4>
                        <p>Description : {{chore.description}}</p>
                        <p>Created at : {{chore.date}}</p>
                        <p>This is assigned to :{{chore.assign}}</p>
                        <p>Budget: {{chore.budget}}</p>
                        <br>
                        <div class="d-flex mx-1 mb-1 mb-lg-1">
                            <a href="#"><button type="button" class="btn btn-primary btn-md" id="#">Vote</button></a>
                            <p class="m-2">Amount of votes :</p>
                        </div>
                        <hr>
                {% endfor %}
                <br>
                <br>
                <br>
                {% endblock content %}
            </div>
        </div>
    </main>
    <footer>
        <div class="footer col-md-12 text-center ">
            <span>Copyright @2022 Communet | ALL Rights Reserved.</span>
        </div>
    </footer>
    <script src="script.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
    </html>
{% endblock %}
