{% extends 'base.html' %}
{% block title %} Communes {% endblock %}
{% block body %}
<!--THE HERO IMAGE PIC -->
<section class="hero-image">
    <div class="max-width">
      <div class="hero-text">
        <h1>Communet</h1>
        <p>Bring People Together</p>
        <!--<button></button>-->
      </div>
    </div>
</section> 
<main>
    <!---about us page-->
    <section class="aboutus" id="story">
        <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mb-5 col-sm-12 col-xs-12 p-3 mt-5">
            <h3>Our Story</h3>
            <p>The Communet platform allows people with shared interests and values to create a financially cooperative community, with pre-established norms and procedures.

                Chores, shopping, and bills are all pre-configured and agreed upon before co-habitation begins, taking the mess and complexity out of starting a shared life.
            
                Future chores, expenses, and savings can be added and voted on at any time.
            </p>
            </div>
        </div>
    </section>

    <!--   Team info -->
    <section class="services m-3 mb-5 justify-content-center" id="team">
        <div class="container-fluid ">
        <div class="col-md-6 offset-md-3 col-sm-12 text-center col-xs-12 p-3">
            <h3>Our Team</h3>
        </div>
        <div class="row mb-5 mx-3">
            <div class="col-md-4  mt-3 text-center p-2">
                <img src="images/m2.svg" alt="picture shows a profile img of male avatar" class="w-50">
                <h4 class="p-4">Faez Zangariya</h4>
                <p>Computer Science Student, Fourth year,23 years old, Pro Gamer and Superbike enthusiast.</p>
                <a href="#" class="btn btn-primary m-3 btn-mds">Hire me</a>
            </div>
            <div class="col-md-4  mt-3 text-center p-2">
                <img src="images/m1.svg" alt="" class="w-50">
                <h4 class="p-4">Ron Turetzky</h4>
                <p>Bioinformatics DevOps, Blockchain enthusiast, professional task management software implementer/freak, activist , and avid nerd.</p>
                <a href="#" class="btn btn-danger m-3 btn-mds">Hire me</a>
            </div>
            <div class="col-md-4  mt-3 text-center p-2">
            <img src="images/m2.svg" alt="picture shows a profile img of male avatar" class="w-50">
            <h4 class="p-4">Elias Assy</h4>
            <p>Computer Science Student, Third year, Surveyor, Web Designer and Pro gamer.</p>
            <a href="#" class="btn btn-primary btn-mds m-3">Hire me</a>
            </div>
            <div class="col-md-4 offset-md-2 mb-5 text-center p-2">
            <img src="images/m2.svg" alt="picture shows a profile img of male avatar" class="w-50">
            <h4 class="p-4">Ofir Tzabari</h4>
            <p>Computer Science Student, 24 years old, Lives in Keriyat Shemona, Pro Tennis and CrossFit player ,Big Fan of Programming.</p>
            <a href="#" class="btn btn-primary m-3 btn-mds">Hire me</a>
            </div>
            <div class="col-md-4 mb-5 text-center p-2">
            <img src="images/f1.svg" alt="picture shows a profile img of female avatar" class="w-50">
            <h4 class="p-4">Nicole Pauzner</h4>
            <p>Computer Science Student, Based in Tel Aviv City, Loves Reading Books, Hiking and Cooking.</p>
            <a href="#" class="btn btn-primary m-3 btn-mds">Hire me</a>
            </div>
        </div>
        </div>
    </section>
</main>
<!-- footer section start -->
<footer>
    <div class="footer col-md-12 text-center">
      <span>Copyright@ 2022 Communet | ALL Rights Reserved.</span>
    </div>
</footer>
<script src="script.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
